*{
  box-sizing: border-box;
  font-family: "Inter", Helvetica Neue, Helvetica, Arial, sans-serif;;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
}


